.card-symetrical {
    @include DflexCustom(center, center);
    &__thumbnail {
        position: relative;
        height: 300px;
        flex: 1;
        &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            z-index: 3;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 10px solid transparent;
            border-right: 10px solid $light;
        }
        &--reverse {
            &::before {
                content: "";
                border-left: 10px solid $light;
                border-right: 0;
                left: 0;
            }
        }
    }
    &__content {
        flex: 1;
        text-align: center;
        & a {
            text-decoration: none;
        }
        &__title {
            text-transform: uppercase;
            padding: 0 5px;
        }
        &__see-mores {
            border-bottom: 2px solid $dark;
            transition: .5s;
            &:hover {
                border-width: 4px;
            }
        }
    }
    &--reverse {
        flex-direction: row-reverse;
    }
}

@include Tablet {
    .card-symetrical {
        &__content {
            &__title {
                font-size: 20px;
            }
        }
    }
}

@include MobileL {
    .card-symetrical {
        &__content {
            &__title {
                font-size: 15px;
            }
        }
    }
}