.comment-form {
    &__group {

    }
    &__multiple-group {
        
    }

    &--grid3 {
        @include Dgrid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    &--commentLists {
        margin-bottom: 60px;
    }
    &--errors {
        color: red;
    }
}

@include MobileL {
    .comment-form {
        &__group {
    
        }
        &__multiple-group {
            
        }
    
        &--grid3 {
            grid-template-columns: 1fr;
        }
    }
}