.category-page {
    width: 86%;
    margin: 0 auto;
    &__wrapper {
        &__v1 {
            &__main {
                &__pagination {
                    margin-top: 40px;
                    text-align: center;
                }
            }
        }
    }
}

@include MobileM {
    .category-page {
        width: 100%;
    }
}