.fetch-blog-page {
    // height: 100vh;
    background: $light;
    padding: 10px;
    &__title {
        text-align: center;
        padding-top: 20px;
        &__child {
            text-transform: uppercase;
            margin: 0;
            font-size: 30px;
        }
    }
    &__new {
        // margin-top: 10px;
        // margin-left: 5px;
        text-align: center;
    }
    &__table {
        background: $light;
        padding: 10px;
    }
}