@font-face{
    font-family:'Lato';
    font-display:block;
    font-style:normal;
    font-weight:400;
    src:local('Lato Regular'),
    local('Lato-Regular'),
    url(http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWA.woff) format('woff')
}
@font-face{
    font-family:'Lato';
    font-display:block;
    font-style:normal;
    font-weight:700;
    src:local('Lato Bold'),local('Lato-Bold'),url(http://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff')
}

@font-face{
    font-family:'Limelight';
    font-display:block;
    font-style:normal;
    font-weight:400;src:local('Limelight'),url(http://fonts.gstatic.com/s/limelight/v10/XLYkIZL7aopJVbZJHDuoOulB.woff) format('woff')
}
@font-face{
    font-family:'Noto Sans';
    font-style:italic;
    font-weight:400;
    src:local('Noto Sans Italic'),local('NotoSans-Italic'),url(http://fonts.gstatic.com/s/notosans/v9/o-0OIpQlx3QUlC5A4PNr4ARCQ_8.woff) format('woff')
}
@font-face{
    font-family:'Noto Sans';
    font-style:italic;
    font-weight:700;src:local('Noto Sans Bold Italic'),local('NotoSans-BoldItalic'),url(http://fonts.gstatic.com/s/notosans/v9/o-0TIpQlx3QUlC5A4PNr4Az5ZuyDzWs.woff) format('woff')
}
@font-face{
    font-family:'Noto Sans';
    font-display:block;
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans'),local('NotoSans'),url(http://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRG.woff) format('woff')
}
@font-face{
    font-family:'Noto Sans';
    font-display:block;
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans Bold'),local('NotoSans-Bold'),url(http://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZNyH.woff) format('woff')
}
@font-face{
    font-family:'Poppins';
    font-display:block;
    font-style:normal;
    font-weight:300;
    src:local('Poppins Light'),local('Poppins-Light'),url(http://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff')
}
@font-face{
    font-family:'Poppins';
    font-display:block;
    font-style:normal;
    font-weight:400;
    src:local('Poppins Regular'),local('Poppins-Regular'),url(http://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff')
}
@font-face{
    font-family:'Poppins';
    font-display:block;
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'),local('Poppins-Medium'),url(http://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff')
}
@font-face{
    font-family:'Poppins';
    font-display:block;
    font-style:normal;
    font-weight:600;
    src:local('Poppins SemiBold'),local('Poppins-SemiBold'),url(http://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff')
}
@font-face{
    font-family:'Poppins';
    font-display:block;
    font-style:normal;
    font-weight:700;
    src:local('Poppins Bold'),local('Poppins-Bold'),url(http://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff')
}