
//--- Init Colors ---
$dark: #222;
$light: #fff;
$light-blur: rgba(255,255,255,.96);
$danger: #E65555;
$secondary: #aaa;
$secondary-blur1: rgba(33,41,51,.35);
$secondary-blur2: rgba(0,0,0,.15);
$secondary-blur3: #fafafa;
$secondary-blur4: #f2f2f2;

$facebook: #4267b2;
$ins: #F77737;
$linkedin: #2867B2;
$twitter: #1da1f2;

//--- responsive size ---
$laptopL-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobileL-width: 425px;
$mobileM-width: 375px;
$mobileS-width: 320px;